<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>


</body>
<script src="ejs.js"></script>
</html>

   <!-- <% for(var i=0; i<responses.length() i++) { %>
                <li> <%= responses[i] %></li>
                <% } %> -->
                <li><%= responses %></li>

                // app.post('/', (req,res) => {
                    //   var response1 = req.body.username;
                    //   responsesArr.push(response1)
                    //   res.redirect("/");
                    
                    // })